body {
    font-family: "Lato", sans-serif;
    background-color:#FFF4E9;
    //background-color:#FFE2D1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #242D34;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.user {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.center {
    text-align: center;
}
hr {
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color:#242D34;
    color:#242D34;
    border: 0 none;
    margin-top: 20%;
}
.button {
    font-size: 11px;
    text-decoration: none;
    //background-color: #EEEEEE;
    color: #333333;
    border-top: 1px solid #161B20;
  //  border-bottom: 1px solid #000000;
}

.button2 {
    font-size: 11px;
    text-decoration: none;
//background-color: #EEEEEE;
    color: #333333;
}

.test1 a:hover{
    background: #3A4853;
}

.bottom {
    position:absolute;
    bottom:0;
    width: 100%;
}

.hubMain{
    //background-color:#FFF4E9;
    background-color:#FFE9DD;
    height:800px;
    width:85%;
    margin-left:14%;
    margin-top:2.7%;
    border-style: inset;
    border-width:3px;

}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 0px;
    margin-right: 19px;
    background: #ddd;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.search-container button:hover {
    background: #ccc;
}